.mobileNavButton {
  display: none;
}

.primaryMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: hsl(0 0% 0% / 0.1);
  backdrop-filter: blur(1rem);
  transition: 1s;
}

.primaryMenu span {
  color: rgb(var(--extra-color-rgb));
  margin-inline-end: 8px;
  
}

.primaryMenu li {
  background-image: linear-gradient(rgb(var(--extra-color-rgb)) 0 0);
  background-position: right -100% bottom 0;
  background-size: 200% 3px;
  background-repeat: no-repeat;
  transition: all 0.6s;
}

.primaryMenu li:hover {
  color: rgb(var(--extra-color-rgb));
  background-position: left 0% bottom 0;
  transform: scale(1.1);
}

/* .primaryMenu a:hover{
  transform: scale(1.5);
} */

.resumeButton {
  border-radius: 15px;
  background: rgb(var(--background-start-rgb));
  box-shadow: 20px 15px 20px var(--button-shadow1),
    -20px -15px 20px var(--button-shadow2);
  padding: 20px 40px 20px 40px;
  transition: 0.5s;
}

.resumeButton:hover {
  transform: scale(1.1);
  box-shadow: -20px 15px 20px var(--button-shadow1),
    20px -15px 20px var(--button-shadow2);
}

@media (min-width: 768px) {
  .primaryMenu {
    padding-inline: clamp(2rem, 6rem, 9rem);
    padding-block: 2rem;
    border-radius: 3rem;
  }
}

@media (max-width: 768px) {
  .mobileNavButton {
    display: block;
    position: absolute;
    z-index: 999;
    aspect-ratio: 1;
    top: 40px;
    right: 40px;

    border-radius: 50%;
    background: rgb(var(--background-start-rgb));
    box-shadow: 20px 15px 20px var(--button-shadow1),
      -20px -15px 20px var(--button-shadow2);
    padding: 2%;
  }

  .primaryMenu {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    justify-content: center;
    padding: min(30vh, 10rem) 2em;
    transition: transform 0.4s ease-in;
  }

  .primaryMenu [data-visible="true"] {
    transform: translate(0%);
  }
  .primaryMenu[data-visible="false"] {
    transform: translate(100%);
  }
  .resumeButton {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  @supports (backdrop-filter: blur(1rem)) {
    .primaryMenu {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
}
