.projectItem {
  padding: 2rem;
  border: 2px solid transparent;
  border-radius: 10px;
  background: rgb(var(--background-start-rgb));
  box-shadow: 10px 10px 20px var(--button-shadow1),
    -10px -10px 20px var(--button-shadow2);
  transition: 1s;
  margin: 2rem;
  max-height: 800px;
  max-width: 1000px;
  display: flex;
}

.image {
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--button-shadow1),
    -5px -5px 0px var(--button-shadow2);
}

@media (max-width: 768px) {
  .projectItem {
    margin: 1rem;
    flex-direction: column;
    max-width: 750px;
    padding: 20px;
  }
}
