.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 30px;
    bottom: 3rem;
  }
  
  .socials::after {
    content: "";
    width: 3px;
    height: 8rem;
    background: rgb(var(--extra-color-rgb));
  }
  
  .socials a:hover {
    transform: scale(1.2);
  }
  
  .socials a {
    transition: 0.5s;
  }
  
  @media (max-width: 55rem) {
    .socials {
      display: none;
    }
  }
  